<!DOCTYPE html>
<html>

<body>
    <h1>마이페이지</h1>
    <p>안녕하세요, <strong>
            <%= nickname %>
        </strong>님!</p>
    <p>당신의 고유 회원 번호는 <strong>
            <%= userId %>
        </strong>번 입니다.</p>
    <hr>
    <a href="/">메인으로 돌아가기</a>
</body>

</html>